celery==4.1.0
Django==2.2.10
django-extensions==1.9.9
django-static-jquery==2.1.4
elasticsearch==6.0.0
gensim==3.2.0
html5lib==0.9999999
nltk==3.2.4
numpy==1.13.3
pyquery==1.4.0
scikit-learn==0.19.1
scipy==1.0.0
tensorflow==1.10.0
tweepy==3.5.0
urllib3==1.22
redis==2.10.6
langdetect==1.0.7
channels==1.1.8
asgi_redis==1.4.3
django-crispy-forms==1.7.2
pypiwin32
