<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "base.html" %}
</head>
<body>
{% block content %}
    {% load crispy_forms_tags %}
    <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
    <h1 class="title is-1">Collect Old Tweets</h1>
    <form method="post">
           {% csrf_token %}
    {{ oldtweetsform|crispy }}
        <button type="submit">Submit</button>
    </form>
    </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
        <div class="card text-center">
            <div class="card-header card-blue text-center">
                        <h3 class="text-center">Keywords</h3>
                    </div>
        </div>
        <div class="card-body">
           <ul>
            {% for entry in words %}
                <li>{{ entry }}</li>
            {% endfor %}
           </ul>
        </div>
        </div>
    </div>

    <script>
      $( function() {
    $( ".dateinput" ).datepicker({ dateFormat: 'yy-mm-dd' });
  } );
    </script>
{% endblock content %}
</body>
</html>