<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>Tweet Collector</title>
</head>
<body>
    {% block content %}
    <form action="#" method="get">
     <button value="Click" class="btn btn-success"
             id="collect_tweets" name="collect_tweets" type="submit">Collect Tweets! <i class="fa fa-twitter"></i></button>
    </form>
    <form action="#" method="get">
        <button value="Click" class="btn btn-danger"
                id="disconnect_tweets" name="disconnect_tweets" type="submit">Disconnect! <i class="fa fa-times"></i>
        </button>
    </form>
     <script>

     </script>
    {% endblock content %}
</body>
</html>