<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    {% block content %}
    {% csrf_token %}

        <br>
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fas fa-database fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    15
                                </div>
                                <div>Current Topics!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fas fa-arrow-alt-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
            </div>
        <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fab fa-twitter fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    326189
                                </div>
                                <div>Todays Tweet Total!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Breakdown</span>
                                <span class="pull-right"><i class="fas fa-arrow-alt-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
            </div>
        <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fas fa-sync fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    04/04/2018  23:57:04
                                </div>
                                <div>Latest Detection!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Latest Detection</span>
                                <span class="pull-right"><i class="fas fa-arrow-alt-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
            </div>
        <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fas fa-bell fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    2
                                </div>
                                <div>New Trends!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Unseen Trends</span>
                                <span class="pull-right"><i class="fas fa-arrow-alt-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-8">
                <div class="card text-center">
                    <div class="card-header card-blue text-center">
                        <h3 class="text-center"><i class="fas fa-chart-area"></i> Time Series Chart</h3>
                    </div>
                    <div class="card-body">
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ds">
                <h3>  <i class="fas fa-bell"></i> Notifications</h3>
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme"><i class="fas fa-exclamation-circle"></i></span>
                    </div>
                    <div class="details">
                        <a href="#">
                        <p>
                            <muted>1h ago</muted>
                            <br>
                            Youtube shooting
                        </p>
                            </a>
                    </div>
                </div>
                <div class="desc">
                    <div class="thumb">
                        <span class="badge bg-theme-warning"><i class="fas fa-exclamation-circle"></i></span>
                    </div>
                    <div class="details">
                        <a href="#">
                        <p>
                            <muted>6h ago</muted>
                            <br>
                            Data breach MyFitnessPal
                        </p>
                            </a>
                    </div>
                </div>
            </div>
        </div>

    <br>
    <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

{#    <div class="row"></div>#}
{#    <br>#}
{#        <div class="row">#}
{#            <div class="col-6">#}
{#                <div class="card">#}
{#                    <div class="card-header">#}
{#                        Current Words#}
{#                    </div>#}
{#                    <div class="card-block">#}
{#                    <div id="chart"></div>#}
{#                        </div>#}
{#                </div>#}
{#            </div>#}
{#                <div class="col-6">#}
{#                    <div class="card">#}
{#                        <div class="card-header">#}
{#                            Word Count#}
{#                        </div>#}
{#                        <div class="card-block">#}
{#                            <div id="word-count">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#        </div>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript">
    console.log(c3)
    var chart = c3.generate({
    bindto: '#chart',
         size: {
        height: 600,
    },
    data: {
        x: 'x',
      columns: [
          ['x', '2013-03-31', '2013-04-01', '2013-04-02', '2013-04-03', '2013-04-04'],
        ['data', 30, 200, 100, 400, 150, ],
        ['attack', 50, 20, 10, 40, 15, ],
          ['hacked', 5760, 6526, 6197, 5897, 10575 ]
      ]
    },
        axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%m-%d'
            }
        }
    }
});


         var poll_xhr;
   var willstop = 0;
  (function(){
    var poll = function(){
      var json_dump = "{{ data }}";
      var task_id = "{{task_id}}";
      console.log(task_id);
      poll_xhr = $.ajax({
        url:'poll_state',
        type: 'POST',
        data: {
            task_id: task_id,
            csrfmiddlewaretoken: "{{csrf_token}}",
        },
        success: function(result) {
                        if (result.current_results == null || result.current_results == undefined) {
                            willstop = 1;
                        }
                        else{
                            $( "#chart" ).empty();
                            var word_count = result.current_results
                            var words = result.current_categories
                            drawWordCloud(words,word_count)
                            $("#word-count").empty();
                            for (var key in result.current_results) {
                                var item = document.createElement("div")
                                item.className += "list-group-item"
                                var span = document.createElement("span")
                                span.className += "badge badge-pill badge-success float-right"
                                var text = document.createTextNode(result.current_results[key])
                                var t = document.createTextNode(key)
                                item.append(t)
                                span.append(text)
                                item.appendChild(span)
                                document.getElementById("word-count").appendChild(item)
                            }
                        }
                    }
      });
    };
    var refreshIntervalId = setInterval(function() {
      poll();
      if(willstop == 1){
        clearInterval(refreshIntervalId);
      }
    },500);
  })();




      function drawWordCloud(words, word_count){
        console.log(words)
          console.log(word_count)
        var svg_location = "#chart";
        var width = $(document).width()/2;
        var height = $(document).height()/1.2;

        var fill = d3.scale.category20();

        var word_entries = d3.entries(word_count);
        console.log(word_entries)

        var xScale = d3.scale.linear()
           .domain([0, d3.max(word_entries, function(d) {
              return d.value;
            })
           ])
           .range([10,100]);

        d3.layout.cloud().size([width, height])
          .timeInterval(20)
          .words(word_entries)
          .fontSize(function(d) { return xScale(+d.value); })
          .text(function(d) { return d.key; })
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .on("end", draw)
          .start();

        function draw(words) {
          d3.select(svg_location).append("svg")
              .attr("width", width)
              .attr("height", height)
            .append("g")
              .attr("transform", "translate(" + [width >> 1, height >> 1] + ")")
            .selectAll("text")
              .data(words)
            .enter().append("text")
              .style("font-size", function(d) { return xScale(d.value) + "px"; })
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr("onclick", "myFunction(this)")
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .attr("class", "currentWord")
              .attr("id", function(d) { return d.key; })
              .text(function(d) { return d.key; });

        }

        d3.layout.cloud().stop();
      }

      function myFunction(d){
          console.log(d.id);
          var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
           $.ajax({
               type: 'POST',
            url: "{% url 'fyp_webapp:fyp' %}",
               data: d.id,
            success: function(data) {
                   $( "#chart" ).empty();
                   drawWordCloud(data.category, JSON.parse(data.jsonData));
            }
            });
      }

function getCookie(name)
{
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?

            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
});

    </script>
    {% endblock content %}
</body>
</html>