<head>
    {% extends "base.html" %}
</head>
{% block content %}
    <div class="row">
        <div class="col">

<a class="btn btn-success" href="{% url 'fyp_webapp:twitteruser_new' %}"><i class="fas fa-plus"></i> New User</a>
        </div>
        <div class="col">
            <a class="btn btn-success" href="{% url 'fyp_webapp:twitteruser_suggest' %}"><i class="fas fa-sync-alt"></i> Suggest Categories</a>
        </div>
    </div>
    <div class="twitter-users">
    {% for category in object_list %}
        {% if forloop.counter0|divisibleby:2 %}
        </div><br>
            <br>
            <div class="row">
        {% endif %}
            <div class="col-lg-6">
                <div class="box">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src={{ category.image }}>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ category.username }}</strong> <small>@{{ category.username }}</small>
                                <br>
                                {{ category.description }}
                            </p>
                        </div>
                    </div>
                    <div class="media-right">
                        <a class="btn btn-danger" href="{% url 'fyp_webapp:twitteruser_delete' category.id %}"><i class="fas fa-times"></i></a>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}