<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/d3.min.js' %}"></script>
        <script src="{% static 'js/cloud.js'%}"></script>
        <script src ="{% static 'js/loading-bar.min.js' %}"></script>
        <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fyp.css' %}">
        <link rel="stylesheet" href="{% static 'css/loading-bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    </head>

    <body>
    <!--
dark inverse
-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if nbar == 'index' %}active{% endif %}">
                <a class="nav-link" href="/fyp/">Index</a>
            </li>
            <li class="nav-item {% if nbar == 'collect' %}active{% endif %}">
                <a class="nav-link" href="/fyp/collect">Collect</a>
            </li>
            <li class="nav-item {% if nbar == 'trainmodel' %}active{% endif %}">
                <a class="nav-link" href="/fyp/trainmodel">Train Models</a>
            </li>
            <li class="nav-item {% if nbar == 'category' %}active{% endif %}">
                <a class="nav-link" href="/fyp/category">Category</a>
            </li>
            <li class="nav-item {% if nbar == 'twitteruser' %}active{% endif %}">
                <a class="nav-link" href="/fyp/twitteruser">Twitter Users</a>
            </li>
            <li class="nav-item {% if nbar == 'taskprogress' %}active{% endif %}">
                <a class="nav-link" href="/fyp/taskprogress">Task Progress</a>
            </li>
            <li class="nav-item {% if nbar == 'timeline' %}active{% endif %}">
                <a class="nav-link" href="/fyp/timeline">Timeline</a>
            </li>
            <li class="nav-item {% if nbar == 'oldtweets' %}active{% endif %}">
                <a class="nav-link" href="/fyp/oldtweets">Old Tweets</a>
            </li>
            <li class="nav-item {% if nbar == 'elasticstats' %}"active{% endif %}">
                <a class="nav-link" href="/fyp/indexes">Indexes</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item ml-auto float-right">
                    <a class="nav-link ml-auto float-right">Welcome {{ user.username }}</a>
                </li>
            {% endif %}
            <li class="nav-item ml-auto float-right">
                <a class="nav-link ml-auto float-right" href="/logout">Logout</a>
            </li>

        </ul>
    </div>
</nav>
    {% block content %}

    {% endblock content %}
    </body>
</html>