<head>
    {% extends "base.html" %}
</head>
{% block content %}
    {% for result in entries %}
          {% if forloop.counter0|divisibleby:2 %}
        </div><br>
            <br>
            <div class="row">
        {% endif %}
        <div class="col-lg-6">
                <div class="card text-center">
                    <div class="card-header card-blue text-center">
                        <h3 class="text-center"><i class="fas fa-chart-line"></i>  {{ result.topic }} </h3>
                        <a href="{% url 'fyp_webapp:trends_delete' result.id %}" class="pull-right"><i class="fas fa-times fa-2x" style="color:white"></i></a>
                    </div>
                <div class="card-body">
                {% for val in result.ls %}
                    <a href="https://twitter.com/search?f=tweets&q={{ result.topic }}%20{{ val }}&src=typd"><div class="badge badge-pill bg-success">{{ val }}</div></a>
                {% endfor %}
                </div>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}