<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>Tweet Collector</title>
</head>
<body>
    {% block content %}
    <div class="row">
    <div id="kmeans-train" class="col">
        <button value="Click" onclick="showformkmeans()" class="btn btn-success" id="display-kmeans-form" >Display KMeans </button>
        <form id="kmeans-form" style="display:none;" action="{% url 'trainmodel' %}" method="post">
            {% csrf_token %}
            {{ KMeansForm }}
            <button type="submit" name="kmeans-form">Submit</button>
        </form>
    </div>
    <div id="lda-train" class="col">
    <button value="Click" onclick="showformlda()" class="btn btn-success" id="display-lda-form">Display LDA</button>
        <form id="lda-form" style="display:none;" action="{% url 'trainmodel' %}" method="post">
            {% csrf_token %}
            {{ LDAForm }}
            <button type="submit" name="lda-form">Submit</button>
        </form>
    </div>
        <br>
        <br>
    </div>
    <div id="lda-trained_model">
        <div class="row">
            {% if categories %}
                {% for i in categories %}
                    <div class="col"><h1> {{i}} </h1></div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {% for c in list1|slice:":10" %}
                    <li> {{ c }} </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <ul>
                    {% for c in list2|slice:":10" %}
                        <li> {{ c }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <ul>
                    {% for c in list3|slice:":10" %}
                    <li> {{ c }} </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="lda-stats" class="row">
            <div class="col">
                <ul>
                {% for c in list1wordcount %}
                    <li> {{ c }} </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <ul>
                {% for c in list2wordcount %}
                    <li> {{ c }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="col">
                <ul>
                    {% for c in list3wordcount %}
                        <li> {{ c }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



    <script>
        function showformkmeans(){
            var x = document.getElementById("kmeans-form")
            checkstyle(x)
        }
        function showformlda() {
            var x = document.getElementById("lda-form");
            checkstyle(x)
        }
        function checkstyle(x){
            if (x.style.display === "none") {
                x.style.display = "block";
            }
            else {
                x.style.display = "none";
            }
        }
    </script>
    {% endblock content %}
</body>
</html>